# Pandas

###### Python Data Analysis

In [5]:
import pandas as pd
df = pd.read_excel('output.xlsx')
df

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
0,1,삼성전자,65100,-300,-0.46,100,3886328,5969783,51.93,9763209,8.08,17.07
1,2,LG에너지솔루션,564000,-3000,-0.53,500,1319760,234000,5.37,243140,170.65,5.75
2,3,SK하이닉스,88700,-1100,-1.22,5000,645738,728002,49.65,1775068,28.96,3.56
3,4,삼성바이오로직스,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
4,5,LG화학,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95
5,6,삼성SDI,684000,0,0.00,5000,470349,68765,49.24,174071,24.66,12.52
6,7,삼성전자우,54600,-700,-1.27,100,449296,822887,72.10,832232,6.78,0.00
7,8,현대차,199200,-1800,-0.90,5000,421371,211532,31.73,471523,7.49,9.36
8,9,기아,85900,-600,-0.69,5000,348207,405363,37.06,643781,6.44,14.57
9,10,NAVER,196100,3500,1.82,100,321700,164049,47.60,897298,42.32,3.29
10,11,POSCO홀딩스,379000,-1000,-0.26,5000,320525,84571,40.57,617133,10.40,6.11
11,12,포스코퓨처엠,338500,-6500,-1.88,500,262213,77463,6.96,1093594,221.68,4.87
12,13,카카오,57200,-1100,-1.89,100,254916,445657,26.16,2274995,18.83,13.54
13,14,셀트리온,163000,4000,2.52,1000,238520,146331,20.50,429105,44.33,13.35
14,15,현대모비스,218000,-3000,-1.36,5000,205542,94285,37.27,150776,8.29,6.80
15,16,삼성물산,109900,200,0.18,100,205389,186887,17.83,172365,10.14,7.16
16,17,KB금융,48700,400,0.83,5000,196510,403511,72.78,887432,4.56,9.17
17,18,LG전자,109200,-100,-0.09,5000,178703,163648,28.71,435298,16.51,6.61
18,19,신한지주,35050,200,0.57,5000,177040,505108,62.40,698340,4.01,9.70
19,20,SK이노베이션,179000,3200,1.82,5000,165513,92466,24.42,780752,10.69,8.49
20,21,LG,89100,500,0.56,5000,140155,157301,35.91,195951,7.22,8.48
21,22,삼성생명,66800,-400,-0.60,500,133600,200000,15.75,218461,8.44,5.73
22,23,하나금융지주,41600,50,0.12,5000,123096,295903,70.80,434715,3.48,10.06
23,24,한국전력,19000,170,0.90,5000,121973,641964,14.43,1588902,-0.50,-46.91
24,25,하이브,292500,-2000,-0.68,500,121811,41645,18.24,256898,231.23,1.87
25,26,SK,164100,200,0.12,200,120118,73198,23.30,74505,11.16,5.13
26,27,KT&G,85100,-1100,-1.28,5000,116836,137292,44.62,200371,11.50,11.00
27,28,카카오뱅크,23550,-550,-2.28,5000,112279,476767,13.69,3074542,42.59,4.68
28,29,삼성화재,227000,0,0.00,500,107541,47375,52.27,71440,8.97,9.70
29,30,SK텔레콤,48100,200,0.42,100,105259,218833,44.31,347458,11.54,7.97
30,31,삼성전기,137700,-5600,-3.91,5000,102853,74694,29.88,673869,10.90,13.76
31,32,두산에너빌리티,15810,240,1.54,5000,101273,640561,12.52,6609261,-12.68,-11.70
32,33,고려아연,508000,-4000,-0.78,5000,100905,19863,21.66,33577,12.52,9.38
33,34,HMM,20050,60,0.30,5000,98052,489039,11.20,882799,0.97,64.98
34,35,크래프톤,198300,5400,2.80,100,97638,49237,30.45,179586,19.45,10.29
35,36,HD현대중공업,108100,-1200,-1.10,5000,95964,88773,6.56,79176,-27.26,-6.47
36,37,메리츠금융지주,45700,-100,-0.22,500,95156,208218,16.94,493134,5.60,30.32
37,38,삼성에스디에스,118500,400,0.34,500,91693,77378,15.58,101168,8.34,14.23
38,39,LG생활건강,587000,1000,0.17,5000,91679,15618,34.87,59910,43.96,4.41
39,40,엔씨소프트,387500,-5000,-1.27,500,85072,21954,45.43,119262,19.52,13.73
40,41,우리금융지주,11650,90,0.78,5000,84819,728061,39.55,1018652,2.70,11.51
41,42,대한항공,22850,-100,-0.44,5000,84138,368221,15.13,659379,4.76,21.95
42,43,S-Oil,72400,-200,-0.28,2500,81510,112583,79.10,387825,4.01,27.20
43,44,기업은행,10020,120,1.21,5000,79902,797426,13.83,633072,2.88,9.85
44,45,KT,30450,0,0.00,5000,79509,261112,40.60,666833,6.30,7.99
45,46,한화솔루션,45750,250,0.55,5000,78641,171893,24.62,1418486,24.54,4.21
46,47,카카오페이,57200,300,0.53,500,76594,133905,43.44,284500,140.54,3.08
47,48,롯데케미칼,170500,100,0.06,5000,72932,42775,24.04,41882,99.77,0.43
48,49,아모레퍼시픽,115700,200,0.17,500,67676,58493,24.61,352549,59.42,2.81
49,50,SK바이오사이언스,83100,11700,16.39,500,63808,76784,3.75,3593957,52.07,0.00

#### index를 종목명으로 지정하기

In [6]:
df.set_index('종목명', inplace=True)
df

,N,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,,
삼성전자,1,65100,-300,-0.46,100,3886328,5969783,51.93,9763209,8.08,17.07
LG에너지솔루션,2,564000,-3000,-0.53,500,1319760,234000,5.37,243140,170.65,5.75
SK하이닉스,3,88700,-1100,-1.22,5000,645738,728002,49.65,1775068,28.96,3.56
삼성바이오로직스,4,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
LG화학,5,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95
삼성SDI,6,684000,0,0.00,5000,470349,68765,49.24,174071,24.66,12.52
삼성전자우,7,54600,-700,-1.27,100,449296,822887,72.10,832232,6.78,0.00
현대차,8,199200,-1800,-0.90,5000,421371,211532,31.73,471523,7.49,9.36
기아,9,85900,-600,-0.69,5000,348207,405363,37.06,643781,6.44,14.57
NAVER,10,196100,3500,1.82,100,321700,164049,47.60,897298,42.32,3.29
POSCO홀딩스,11,379000,-1000,-0.26,5000,320525,84571,40.57,617133,10.40,6.11
포스코퓨처엠,12,338500,-6500,-1.88,500,262213,77463,6.96,1093594,221.68,4.87
카카오,13,57200,-1100,-1.89,100,254916,445657,26.16,2274995,18.83,13.54
셀트리온,14,163000,4000,2.52,1000,238520,146331,20.50,429105,44.33,13.35
현대모비스,15,218000,-3000,-1.36,5000,205542,94285,37.27,150776,8.29,6.80
삼성물산,16,109900,200,0.18,100,205389,186887,17.83,172365,10.14,7.16
KB금융,17,48700,400,0.83,5000,196510,403511,72.78,887432,4.56,9.17
LG전자,18,109200,-100,-0.09,5000,178703,163648,28.71,435298,16.51,6.61
신한지주,19,35050,200,0.57,5000,177040,505108,62.40,698340,4.01,9.70
SK이노베이션,20,179000,3200,1.82,5000,165513,92466,24.42,780752,10.69,8.49
LG,21,89100,500,0.56,5000,140155,157301,35.91,195951,7.22,8.48
삼성생명,22,66800,-400,-0.60,500,133600,200000,15.75,218461,8.44,5.73
하나금융지주,23,41600,50,0.12,5000,123096,295903,70.80,434715,3.48,10.06
한국전력,24,19000,170,0.90,5000,121973,641964,14.43,1588902,-0.50,-46.91
하이브,25,292500,-2000,-0.68,500,121811,41645,18.24,256898,231.23,1.87
SK,26,164100,200,0.12,200,120118,73198,23.30,74505,11.16,5.13
KT&G,27,85100,-1100,-1.28,5000,116836,137292,44.62,200371,11.50,11.00
카카오뱅크,28,23550,-550,-2.28,5000,112279,476767,13.69,3074542,42.59,4.68
삼성화재,29,227000,0,0.00,500,107541,47375,52.27,71440,8.97,9.70
SK텔레콤,30,48100,200,0.42,100,105259,218833,44.31,347458,11.54,7.97
삼성전기,31,137700,-5600,-3.91,5000,102853,74694,29.88,673869,10.90,13.76
두산에너빌리티,32,15810,240,1.54,5000,101273,640561,12.52,6609261,-12.68,-11.70
고려아연,33,508000,-4000,-0.78,5000,100905,19863,21.66,33577,12.52,9.38
HMM,34,20050,60,0.30,5000,98052,489039,11.20,882799,0.97,64.98
크래프톤,35,198300,5400,2.80,100,97638,49237,30.45,179586,19.45,10.29
HD현대중공업,36,108100,-1200,-1.10,5000,95964,88773,6.56,79176,-27.26,-6.47
메리츠금융지주,37,45700,-100,-0.22,500,95156,208218,16.94,493134,5.60,30.32
삼성에스디에스,38,118500,400,0.34,500,91693,77378,15.58,101168,8.34,14.23
LG생활건강,39,587000,1000,0.17,5000,91679,15618,34.87,59910,43.96,4.41
엔씨소프트,40,387500,-5000,-1.27,500,85072,21954,45.43,119262,19.52,13.73
우리금융지주,41,11650,90,0.78,5000,84819,728061,39.55,1018652,2.70,11.51
대한항공,42,22850,-100,-0.44,5000,84138,368221,15.13,659379,4.76,21.95
S-Oil,43,72400,-200,-0.28,2500,81510,112583,79.10,387825,4.01,27.20
기업은행,44,10020,120,1.21,5000,79902,797426,13.83,633072,2.88,9.85
KT,45,30450,0,0.00,5000,79509,261112,40.60,666833,6.30,7.99
한화솔루션,46,45750,250,0.55,5000,78641,171893,24.62,1418486,24.54,4.21
카카오페이,47,57200,300,0.53,500,76594,133905,43.44,284500,140.54,3.08
롯데케미칼,48,170500,100,0.06,5000,72932,42775,24.04,41882,99.77,0.43
아모레퍼시픽,49,115700,200,0.17,500,67676,58493,24.61,352549,59.42,2.81
SK바이오사이언스,50,83100,11700,16.39,500,63808,76784,3.75,3593957,52.07,0.00

#### 의미 없는 인덱스 삭제하기 ( 컬럼 'N' 항목을 삭제시킴 )

In [7]:
df

,N,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,,
삼성전자,1,65100,-300,-0.46,100,3886328,5969783,51.93,9763209,8.08,17.07
LG에너지솔루션,2,564000,-3000,-0.53,500,1319760,234000,5.37,243140,170.65,5.75
SK하이닉스,3,88700,-1100,-1.22,5000,645738,728002,49.65,1775068,28.96,3.56
삼성바이오로직스,4,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
LG화학,5,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95
삼성SDI,6,684000,0,0.00,5000,470349,68765,49.24,174071,24.66,12.52
삼성전자우,7,54600,-700,-1.27,100,449296,822887,72.10,832232,6.78,0.00
현대차,8,199200,-1800,-0.90,5000,421371,211532,31.73,471523,7.49,9.36
기아,9,85900,-600,-0.69,5000,348207,405363,37.06,643781,6.44,14.57
NAVER,10,196100,3500,1.82,100,321700,164049,47.60,897298,42.32,3.29
POSCO홀딩스,11,379000,-1000,-0.26,5000,320525,84571,40.57,617133,10.40,6.11
포스코퓨처엠,12,338500,-6500,-1.88,500,262213,77463,6.96,1093594,221.68,4.87
카카오,13,57200,-1100,-1.89,100,254916,445657,26.16,2274995,18.83,13.54
셀트리온,14,163000,4000,2.52,1000,238520,146331,20.50,429105,44.33,13.35
현대모비스,15,218000,-3000,-1.36,5000,205542,94285,37.27,150776,8.29,6.80
삼성물산,16,109900,200,0.18,100,205389,186887,17.83,172365,10.14,7.16
KB금융,17,48700,400,0.83,5000,196510,403511,72.78,887432,4.56,9.17
LG전자,18,109200,-100,-0.09,5000,178703,163648,28.71,435298,16.51,6.61
신한지주,19,35050,200,0.57,5000,177040,505108,62.40,698340,4.01,9.70
SK이노베이션,20,179000,3200,1.82,5000,165513,92466,24.42,780752,10.69,8.49
LG,21,89100,500,0.56,5000,140155,157301,35.91,195951,7.22,8.48
삼성생명,22,66800,-400,-0.60,500,133600,200000,15.75,218461,8.44,5.73
하나금융지주,23,41600,50,0.12,5000,123096,295903,70.80,434715,3.48,10.06
한국전력,24,19000,170,0.90,5000,121973,641964,14.43,1588902,-0.50,-46.91
하이브,25,292500,-2000,-0.68,500,121811,41645,18.24,256898,231.23,1.87
SK,26,164100,200,0.12,200,120118,73198,23.30,74505,11.16,5.13
KT&G,27,85100,-1100,-1.28,5000,116836,137292,44.62,200371,11.50,11.00
카카오뱅크,28,23550,-550,-2.28,5000,112279,476767,13.69,3074542,42.59,4.68
삼성화재,29,227000,0,0.00,500,107541,47375,52.27,71440,8.97,9.70
SK텔레콤,30,48100,200,0.42,100,105259,218833,44.31,347458,11.54,7.97
삼성전기,31,137700,-5600,-3.91,5000,102853,74694,29.88,673869,10.90,13.76
두산에너빌리티,32,15810,240,1.54,5000,101273,640561,12.52,6609261,-12.68,-11.70
고려아연,33,508000,-4000,-0.78,5000,100905,19863,21.66,33577,12.52,9.38
HMM,34,20050,60,0.30,5000,98052,489039,11.20,882799,0.97,64.98
크래프톤,35,198300,5400,2.80,100,97638,49237,30.45,179586,19.45,10.29
HD현대중공업,36,108100,-1200,-1.10,5000,95964,88773,6.56,79176,-27.26,-6.47
메리츠금융지주,37,45700,-100,-0.22,500,95156,208218,16.94,493134,5.60,30.32
삼성에스디에스,38,118500,400,0.34,500,91693,77378,15.58,101168,8.34,14.23
LG생활건강,39,587000,1000,0.17,5000,91679,15618,34.87,59910,43.96,4.41
엔씨소프트,40,387500,-5000,-1.27,500,85072,21954,45.43,119262,19.52,13.73
우리금융지주,41,11650,90,0.78,5000,84819,728061,39.55,1018652,2.70,11.51
대한항공,42,22850,-100,-0.44,5000,84138,368221,15.13,659379,4.76,21.95
S-Oil,43,72400,-200,-0.28,2500,81510,112583,79.10,387825,4.01,27.20
기업은행,44,10020,120,1.21,5000,79902,797426,13.83,633072,2.88,9.85
KT,45,30450,0,0.00,5000,79509,261112,40.60,666833,6.30,7.99
한화솔루션,46,45750,250,0.55,5000,78641,171893,24.62,1418486,24.54,4.21
카카오페이,47,57200,300,0.53,500,76594,133905,43.44,284500,140.54,3.08
롯데케미칼,48,170500,100,0.06,5000,72932,42775,24.04,41882,99.77,0.43
아모레퍼시픽,49,115700,200,0.17,500,67676,58493,24.61,352549,59.42,2.81
SK바이오사이언스,50,83100,11700,16.39,500,63808,76784,3.75,3593957,52.07,0.00

In [8]:
df = pd.read_excel('output.xlsx', index_col='N')
df

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
N,,,,,,,,,,,
1,삼성전자,65100,-300,-0.46,100,3886328,5969783,51.93,9763209,8.08,17.07
2,LG에너지솔루션,564000,-3000,-0.53,500,1319760,234000,5.37,243140,170.65,5.75
3,SK하이닉스,88700,-1100,-1.22,5000,645738,728002,49.65,1775068,28.96,3.56
4,삼성바이오로직스,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
5,LG화학,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95
6,삼성SDI,684000,0,0.00,5000,470349,68765,49.24,174071,24.66,12.52
7,삼성전자우,54600,-700,-1.27,100,449296,822887,72.10,832232,6.78,0.00
8,현대차,199200,-1800,-0.90,5000,421371,211532,31.73,471523,7.49,9.36
9,기아,85900,-600,-0.69,5000,348207,405363,37.06,643781,6.44,14.57
10,NAVER,196100,3500,1.82,100,321700,164049,47.60,897298,42.32,3.29
11,POSCO홀딩스,379000,-1000,-0.26,5000,320525,84571,40.57,617133,10.40,6.11
12,포스코퓨처엠,338500,-6500,-1.88,500,262213,77463,6.96,1093594,221.68,4.87
13,카카오,57200,-1100,-1.89,100,254916,445657,26.16,2274995,18.83,13.54
14,셀트리온,163000,4000,2.52,1000,238520,146331,20.50,429105,44.33,13.35
15,현대모비스,218000,-3000,-1.36,5000,205542,94285,37.27,150776,8.29,6.80
16,삼성물산,109900,200,0.18,100,205389,186887,17.83,172365,10.14,7.16
17,KB금융,48700,400,0.83,5000,196510,403511,72.78,887432,4.56,9.17
18,LG전자,109200,-100,-0.09,5000,178703,163648,28.71,435298,16.51,6.61
19,신한지주,35050,200,0.57,5000,177040,505108,62.40,698340,4.01,9.70
20,SK이노베이션,179000,3200,1.82,5000,165513,92466,24.42,780752,10.69,8.49
21,LG,89100,500,0.56,5000,140155,157301,35.91,195951,7.22,8.48
22,삼성생명,66800,-400,-0.60,500,133600,200000,15.75,218461,8.44,5.73
23,하나금융지주,41600,50,0.12,5000,123096,295903,70.80,434715,3.48,10.06
24,한국전력,19000,170,0.90,5000,121973,641964,14.43,1588902,-0.50,-46.91
25,하이브,292500,-2000,-0.68,500,121811,41645,18.24,256898,231.23,1.87
26,SK,164100,200,0.12,200,120118,73198,23.30,74505,11.16,5.13
27,KT&G,85100,-1100,-1.28,5000,116836,137292,44.62,200371,11.50,11.00
28,카카오뱅크,23550,-550,-2.28,5000,112279,476767,13.69,3074542,42.59,4.68
29,삼성화재,227000,0,0.00,500,107541,47375,52.27,71440,8.97,9.70
30,SK텔레콤,48100,200,0.42,100,105259,218833,44.31,347458,11.54,7.97
31,삼성전기,137700,-5600,-3.91,5000,102853,74694,29.88,673869,10.90,13.76
32,두산에너빌리티,15810,240,1.54,5000,101273,640561,12.52,6609261,-12.68,-11.70
33,고려아연,508000,-4000,-0.78,5000,100905,19863,21.66,33577,12.52,9.38
34,HMM,20050,60,0.30,5000,98052,489039,11.20,882799,0.97,64.98
35,크래프톤,198300,5400,2.80,100,97638,49237,30.45,179586,19.45,10.29
36,HD현대중공업,108100,-1200,-1.10,5000,95964,88773,6.56,79176,-27.26,-6.47
37,메리츠금융지주,45700,-100,-0.22,500,95156,208218,16.94,493134,5.60,30.32
38,삼성에스디에스,118500,400,0.34,500,91693,77378,15.58,101168,8.34,14.23
39,LG생활건강,587000,1000,0.17,5000,91679,15618,34.87,59910,43.96,4.41
40,엔씨소프트,387500,-5000,-1.27,500,85072,21954,45.43,119262,19.52,13.73
41,우리금융지주,11650,90,0.78,5000,84819,728061,39.55,1018652,2.70,11.51
42,대한항공,22850,-100,-0.44,5000,84138,368221,15.13,659379,4.76,21.95
43,S-Oil,72400,-200,-0.28,2500,81510,112583,79.10,387825,4.01,27.20
44,기업은행,10020,120,1.21,5000,79902,797426,13.83,633072,2.88,9.85
45,KT,30450,0,0.00,5000,79509,261112,40.60,666833,6.30,7.99
46,한화솔루션,45750,250,0.55,5000,78641,171893,24.62,1418486,24.54,4.21
47,카카오페이,57200,300,0.53,500,76594,133905,43.44,284500,140.54,3.08
48,롯데케미칼,170500,100,0.06,5000,72932,42775,24.04,41882,99.77,0.43
49,아모레퍼시픽,115700,200,0.17,500,67676,58493,24.61,352549,59.42,2.81
50,SK바이오사이언스,83100,11700,16.39,500,63808,76784,3.75,3593957,52.07,0.00

#### DataFrame 정보 확인하기

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 50
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     50 non-null     object
 1   현재가     50 non-null     int64
 2   전일비     50 non-null     int64
 3   등락률     50 non-null     float64
 4   액면가     50 non-null     int64
 5   시가총액    50 non-null     int64
 6   상장주식수   50 non-null     int64
 7   외국인비율   50 non-null     float64
 8   거래량     50 non-null     int64
 9   PER     50 non-null     float64
 10  ROE     50 non-null     float64
dtypes: float64(4), int64(6), object(1)
memory usage: 4.7+ KB

In [10]:
df.corr()    # 문자열 필드가 있으면 ValueError이 발생됨!!!
df

ValueError: could not convert string to float: '삼성전자'

In [11]:
df.index    # method가 아니라 property 임

Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
      dtype='int64', name='N')

In [12]:
df.columns    # method가 아니라 property 임

Index(['종목명', '현재가', '전일비', '등락률', '액면가', '시가총액', '상장주식수', '외국인비율', '거래량',
       'PER', 'ROE'],
      dtype='object')

In [13]:
df.shape

(50, 11)

In [14]:
df['종목명']

N
1          삼성전자
2      LG에너지솔루션
3        SK하이닉스
4      삼성바이오로직스
5          LG화학
6         삼성SDI
7         삼성전자우
8           현대차
9            기아
10        NAVER
11     POSCO홀딩스
12       포스코퓨처엠
13          카카오
14         셀트리온
15        현대모비스
16         삼성물산
17         KB금융
18         LG전자
19         신한지주
20      SK이노베이션
21           LG
22         삼성생명
23       하나금융지주
24         한국전력
25          하이브
26           SK
27         KT&G
28        카카오뱅크
29         삼성화재
30        SK텔레콤
31         삼성전기
32      두산에너빌리티
33         고려아연
34          HMM
35         크래프톤
36      HD현대중공업
37      메리츠금융지주
38      삼성에스디에스
39       LG생활건강
40        엔씨소프트
41       우리금융지주
42         대한항공
43        S-Oil
44         기업은행
45           KT
46        한화솔루션
47        카카오페이
48        롯데케미칼
49       아모레퍼시픽
50    SK바이오사이언스
Name: 종목명, dtype: object

In [15]:
df['종목명'].describe()

count       50
unique      50
top       삼성전자
freq         1
Name: 종목명, dtype: object

In [16]:
df['현재가'].nlargest()

N
4     797000
5     731000
6     684000
39    587000
2     564000
Name: 현재가, dtype: int64

In [17]:
df['거래량'].nlargest()

N
1     9763209
32    6609261
50    3593957
28    3074542
13    2274995
Name: 거래량, dtype: int64

In [18]:
df.set_index('종목명', inplace=True)
df

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
삼성전자,65100,-300,-0.46,100,3886328,5969783,51.93,9763209,8.08,17.07
LG에너지솔루션,564000,-3000,-0.53,500,1319760,234000,5.37,243140,170.65,5.75
SK하이닉스,88700,-1100,-1.22,5000,645738,728002,49.65,1775068,28.96,3.56
삼성바이오로직스,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
LG화학,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95
삼성SDI,684000,0,0.00,5000,470349,68765,49.24,174071,24.66,12.52
삼성전자우,54600,-700,-1.27,100,449296,822887,72.10,832232,6.78,0.00
현대차,199200,-1800,-0.90,5000,421371,211532,31.73,471523,7.49,9.36
기아,85900,-600,-0.69,5000,348207,405363,37.06,643781,6.44,14.57
NAVER,196100,3500,1.82,100,321700,164049,47.60,897298,42.32,3.29
POSCO홀딩스,379000,-1000,-0.26,5000,320525,84571,40.57,617133,10.40,6.11
포스코퓨처엠,338500,-6500,-1.88,500,262213,77463,6.96,1093594,221.68,4.87
카카오,57200,-1100,-1.89,100,254916,445657,26.16,2274995,18.83,13.54
셀트리온,163000,4000,2.52,1000,238520,146331,20.50,429105,44.33,13.35
현대모비스,218000,-3000,-1.36,5000,205542,94285,37.27,150776,8.29,6.80
삼성물산,109900,200,0.18,100,205389,186887,17.83,172365,10.14,7.16
KB금융,48700,400,0.83,5000,196510,403511,72.78,887432,4.56,9.17
LG전자,109200,-100,-0.09,5000,178703,163648,28.71,435298,16.51,6.61
신한지주,35050,200,0.57,5000,177040,505108,62.40,698340,4.01,9.70
SK이노베이션,179000,3200,1.82,5000,165513,92466,24.42,780752,10.69,8.49
LG,89100,500,0.56,5000,140155,157301,35.91,195951,7.22,8.48
삼성생명,66800,-400,-0.60,500,133600,200000,15.75,218461,8.44,5.73
하나금융지주,41600,50,0.12,5000,123096,295903,70.80,434715,3.48,10.06
한국전력,19000,170,0.90,5000,121973,641964,14.43,1588902,-0.50,-46.91
하이브,292500,-2000,-0.68,500,121811,41645,18.24,256898,231.23,1.87
SK,164100,200,0.12,200,120118,73198,23.30,74505,11.16,5.13
KT&G,85100,-1100,-1.28,5000,116836,137292,44.62,200371,11.50,11.00
카카오뱅크,23550,-550,-2.28,5000,112279,476767,13.69,3074542,42.59,4.68
삼성화재,227000,0,0.00,500,107541,47375,52.27,71440,8.97,9.70
SK텔레콤,48100,200,0.42,100,105259,218833,44.31,347458,11.54,7.97
삼성전기,137700,-5600,-3.91,5000,102853,74694,29.88,673869,10.90,13.76
두산에너빌리티,15810,240,1.54,5000,101273,640561,12.52,6609261,-12.68,-11.70
고려아연,508000,-4000,-0.78,5000,100905,19863,21.66,33577,12.52,9.38
HMM,20050,60,0.30,5000,98052,489039,11.20,882799,0.97,64.98
크래프톤,198300,5400,2.80,100,97638,49237,30.45,179586,19.45,10.29
HD현대중공업,108100,-1200,-1.10,5000,95964,88773,6.56,79176,-27.26,-6.47
메리츠금융지주,45700,-100,-0.22,500,95156,208218,16.94,493134,5.60,30.32
삼성에스디에스,118500,400,0.34,500,91693,77378,15.58,101168,8.34,14.23
LG생활건강,587000,1000,0.17,5000,91679,15618,34.87,59910,43.96,4.41
엔씨소프트,387500,-5000,-1.27,500,85072,21954,45.43,119262,19.52,13.73
우리금융지주,11650,90,0.78,5000,84819,728061,39.55,1018652,2.70,11.51
대한항공,22850,-100,-0.44,5000,84138,368221,15.13,659379,4.76,21.95
S-Oil,72400,-200,-0.28,2500,81510,112583,79.10,387825,4.01,27.20
기업은행,10020,120,1.21,5000,79902,797426,13.83,633072,2.88,9.85
KT,30450,0,0.00,5000,79509,261112,40.60,666833,6.30,7.99
한화솔루션,45750,250,0.55,5000,78641,171893,24.62,1418486,24.54,4.21
카카오페이,57200,300,0.53,500,76594,133905,43.44,284500,140.54,3.08
롯데케미칼,170500,100,0.06,5000,72932,42775,24.04,41882,99.77,0.43
아모레퍼시픽,115700,200,0.17,500,67676,58493,24.61,352549,59.42,2.81
SK바이오사이언스,83100,11700,16.39,500,63808,76784,3.75,3593957,52.07,0.00

In [19]:
df

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
삼성전자,65100,-300,-0.46,100,3886328,5969783,51.93,9763209,8.08,17.07
LG에너지솔루션,564000,-3000,-0.53,500,1319760,234000,5.37,243140,170.65,5.75
SK하이닉스,88700,-1100,-1.22,5000,645738,728002,49.65,1775068,28.96,3.56
삼성바이오로직스,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
LG화학,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95
삼성SDI,684000,0,0.00,5000,470349,68765,49.24,174071,24.66,12.52
삼성전자우,54600,-700,-1.27,100,449296,822887,72.10,832232,6.78,0.00
현대차,199200,-1800,-0.90,5000,421371,211532,31.73,471523,7.49,9.36
기아,85900,-600,-0.69,5000,348207,405363,37.06,643781,6.44,14.57
NAVER,196100,3500,1.82,100,321700,164049,47.60,897298,42.32,3.29
POSCO홀딩스,379000,-1000,-0.26,5000,320525,84571,40.57,617133,10.40,6.11
포스코퓨처엠,338500,-6500,-1.88,500,262213,77463,6.96,1093594,221.68,4.87
카카오,57200,-1100,-1.89,100,254916,445657,26.16,2274995,18.83,13.54
셀트리온,163000,4000,2.52,1000,238520,146331,20.50,429105,44.33,13.35
현대모비스,218000,-3000,-1.36,5000,205542,94285,37.27,150776,8.29,6.80
삼성물산,109900,200,0.18,100,205389,186887,17.83,172365,10.14,7.16
KB금융,48700,400,0.83,5000,196510,403511,72.78,887432,4.56,9.17
LG전자,109200,-100,-0.09,5000,178703,163648,28.71,435298,16.51,6.61
신한지주,35050,200,0.57,5000,177040,505108,62.40,698340,4.01,9.70
SK이노베이션,179000,3200,1.82,5000,165513,92466,24.42,780752,10.69,8.49
LG,89100,500,0.56,5000,140155,157301,35.91,195951,7.22,8.48
삼성생명,66800,-400,-0.60,500,133600,200000,15.75,218461,8.44,5.73
하나금융지주,41600,50,0.12,5000,123096,295903,70.80,434715,3.48,10.06
한국전력,19000,170,0.90,5000,121973,641964,14.43,1588902,-0.50,-46.91
하이브,292500,-2000,-0.68,500,121811,41645,18.24,256898,231.23,1.87
SK,164100,200,0.12,200,120118,73198,23.30,74505,11.16,5.13
KT&G,85100,-1100,-1.28,5000,116836,137292,44.62,200371,11.50,11.00
카카오뱅크,23550,-550,-2.28,5000,112279,476767,13.69,3074542,42.59,4.68
삼성화재,227000,0,0.00,500,107541,47375,52.27,71440,8.97,9.70
SK텔레콤,48100,200,0.42,100,105259,218833,44.31,347458,11.54,7.97
삼성전기,137700,-5600,-3.91,5000,102853,74694,29.88,673869,10.90,13.76
두산에너빌리티,15810,240,1.54,5000,101273,640561,12.52,6609261,-12.68,-11.70
고려아연,508000,-4000,-0.78,5000,100905,19863,21.66,33577,12.52,9.38
HMM,20050,60,0.30,5000,98052,489039,11.20,882799,0.97,64.98
크래프톤,198300,5400,2.80,100,97638,49237,30.45,179586,19.45,10.29
HD현대중공업,108100,-1200,-1.10,5000,95964,88773,6.56,79176,-27.26,-6.47
메리츠금융지주,45700,-100,-0.22,500,95156,208218,16.94,493134,5.60,30.32
삼성에스디에스,118500,400,0.34,500,91693,77378,15.58,101168,8.34,14.23
LG생활건강,587000,1000,0.17,5000,91679,15618,34.87,59910,43.96,4.41
엔씨소프트,387500,-5000,-1.27,500,85072,21954,45.43,119262,19.52,13.73
우리금융지주,11650,90,0.78,5000,84819,728061,39.55,1018652,2.70,11.51
대한항공,22850,-100,-0.44,5000,84138,368221,15.13,659379,4.76,21.95
S-Oil,72400,-200,-0.28,2500,81510,112583,79.10,387825,4.01,27.20
기업은행,10020,120,1.21,5000,79902,797426,13.83,633072,2.88,9.85
KT,30450,0,0.00,5000,79509,261112,40.60,666833,6.30,7.99
한화솔루션,45750,250,0.55,5000,78641,171893,24.62,1418486,24.54,4.21
카카오페이,57200,300,0.53,500,76594,133905,43.44,284500,140.54,3.08
롯데케미칼,170500,100,0.06,5000,72932,42775,24.04,41882,99.77,0.43
아모레퍼시픽,115700,200,0.17,500,67676,58493,24.61,352549,59.42,2.81
SK바이오사이언스,83100,11700,16.39,500,63808,76784,3.75,3593957,52.07,0.00

In [20]:
df.corr()

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
현재가,1.000000,0.275245,-0.010743,-0.006127,0.121134,-0.211355,-0.069718,-0.271649,0.342842,-0.014722
전일비,0.275245,1.000000,0.653180,-0.103102,0.015099,-0.050729,-0.135192,0.038271,-0.043941,-0.016383
등락률,-0.010743,0.653180,1.000000,-0.173992,-0.075675,-0.063764,-0.202352,0.180377,0.007107,-0.112515
액면가,-0.006127,-0.103102,-0.173992,1.000000,-0.202291,-0.114494,0.085450,-0.066698,-0.358070,-0.040524
시가총액,0.121134,0.015099,-0.075675,-0.202291,1.000000,0.901045,0.140090,0.674843,0.060758,0.070247
상장주식수,-0.211355,-0.050729,-0.063764,-0.114494,0.901045,1.000000,0.174651,0.805745,-0.135450,0.063953
외국인비율,-0.069718,-0.135192,-0.202352,0.085450,0.140090,0.174651,1.000000,-0.034658,-0.272653,0.105252
거래량,-0.271649,0.038271,0.180377,-0.066698,0.674843,0.805745,-0.034658,1.000000,-0.104988,-0.100315
PER,0.342842,-0.043941,0.007107,-0.358070,0.060758,-0.135450,-0.272653,-0.104988,1.000000,-0.115892
ROE,-0.014722,-0.016383,-0.112515,-0.040524,0.070247,0.063953,0.105252,-0.100315,-0.115892,1.000000

In [21]:
df[['현재가','전일비']]

              현재가    전일비
종목명
삼성전자        65100   -300
LG에너지솔루션   564000  -3000
SK하이닉스      88700  -1100
삼성바이오로직스   797000  22000
LG화학       731000   5000
삼성SDI      684000      0
삼성전자우       54600   -700
현대차        199200  -1800
기아          85900   -600
NAVER      196100   3500
POSCO홀딩스   379000  -1000
포스코퓨처엠     338500  -6500
카카오         57200  -1100
셀트리온       163000   4000
현대모비스      218000  -3000
삼성물산       109900    200
KB금융        48700    400
LG전자       109200   -100
신한지주        35050    200
SK이노베이션    179000   3200
LG          89100    500
삼성생명        66800   -400
하나금융지주      41600     50
한국전력        19000    170
하이브        292500  -2000
SK         164100    200
KT&G        85100  -1100
카카오뱅크       23550   -550
삼성화재       227000      0
SK텔레콤       48100    200
삼성전기       137700  -5600
두산에너빌리티     15810    240
고려아연       508000  -4000
HMM         20050     60
크래프톤       198300   5400
HD현대중공업    108100  -1200
메리츠금융지주     45700   -100
삼성에스디에스    118500    400
LG생활건강     587000   1000
엔씨소프트      387500  -5000
우리금융지주      11650     90
대한항공        22850   -100
S-Oil       72400   -200
기업은행        10020    120
KT          30450      0
한화솔루션       45750    250
카카오페이       57200    300
롯데케미칼      170500    100
아모레퍼시픽     115700    200
SK바이오사이언스   83100  11700

In [22]:
df[['현재가','전일비']][0:5]

             현재가    전일비
종목명
삼성전자       65100   -300
LG에너지솔루션  564000  -3000
SK하이닉스     88700  -1100
삼성바이오로직스  797000  22000
LG화학      731000   5000

In [23]:
df[['현재가','전일비']][0:5:2]

           현재가   전일비
종목명
삼성전자     65100  -300
SK하이닉스   88700 -1100
LG화학    731000  5000

In [24]:
df.loc['삼성전자']

현재가        65100.00
전일비         -300.00
등락률           -0.46
액면가          100.00
시가총액     3886328.00
상장주식수    5969783.00
외국인비율         51.93
거래량      9763209.00
PER            8.08
ROE           17.07
Name: 삼성전자, dtype: float64

In [25]:
df.loc['삼성전자']['현재가']

65100.0

In [26]:
df.loc['삼성전자'][['현재가','전일비','거래량']]

현재가      65100.0
전일비       -300.0
거래량    9763209.0
Name: 삼성전자, dtype: float64

In [27]:
df.loc[['삼성전자','LG에너지솔루션']][['현재가','전일비','거래량']]

             현재가   전일비      거래량
종목명
삼성전자       65100  -300  9763209
LG에너지솔루션  564000 -3000   243140

In [28]:
df.loc['삼성전자':'LG화학', '현재가':'액면가']

             현재가    전일비   등락률   액면가
종목명
삼성전자       65100   -300 -0.46   100
LG에너지솔루션  564000  -3000 -0.53   500
SK하이닉스     88700  -1100 -1.22  5000
삼성바이오로직스  797000  22000  2.84  2500
LG화학      731000   5000  0.69  5000

In [29]:
df.iloc[0]

현재가        65100.00
전일비         -300.00
등락률           -0.46
액면가          100.00
시가총액     3886328.00
상장주식수    5969783.00
외국인비율         51.93
거래량      9763209.00
PER            8.08
ROE           17.07
Name: 삼성전자, dtype: float64

In [30]:
df.iloc[0:5]

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
삼성전자,65100,-300,-0.46,100,3886328,5969783,51.93,9763209,8.08,17.07
LG에너지솔루션,564000,-3000,-0.53,500,1319760,234000,5.37,243140,170.65,5.75
SK하이닉스,88700,-1100,-1.22,5000,645738,728002,49.65,1775068,28.96,3.56
삼성바이오로직스,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
LG화학,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95

In [31]:
df.iloc[0:5,0:5]

             현재가    전일비   등락률   액면가     시가총액
종목명
삼성전자       65100   -300 -0.46   100  3886328
LG에너지솔루션  564000  -3000 -0.53   500  1319760
SK하이닉스     88700  -1100 -1.22  5000   645738
삼성바이오로직스  797000  22000  2.84  2500   567257
LG화학      731000   5000  0.69  5000   516030

In [32]:
df['전일비'] > 0

종목명
삼성전자         False
LG에너지솔루션     False
SK하이닉스       False
삼성바이오로직스      True
LG화학          True
삼성SDI        False
삼성전자우        False
현대차          False
기아           False
NAVER         True
POSCO홀딩스     False
포스코퓨처엠       False
카카오          False
셀트리온          True
현대모비스        False
삼성물산          True
KB금융          True
LG전자         False
신한지주          True
SK이노베이션       True
LG            True
삼성생명         False
하나금융지주        True
한국전력          True
하이브          False
SK            True
KT&G         False
카카오뱅크        False
삼성화재         False
SK텔레콤         True
삼성전기         False
두산에너빌리티       True
고려아연         False
HMM           True
크래프톤          True
HD현대중공업      False
메리츠금융지주      False
삼성에스디에스       True
LG생활건강        True
엔씨소프트        False
우리금융지주        True
대한항공         False
S-Oil        False
기업은행          True
KT           False
한화솔루션         True
카카오페이         True
롯데케미칼         True
아모레퍼시픽        True
SK바이오사이언스     True
Name: 전일비, dtype: bool

In [33]:
filt = (df['전일비']>0)
df[filt]

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
삼성바이오로직스,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
LG화학,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95
NAVER,196100,3500,1.82,100,321700,164049,47.60,897298,42.32,3.29
셀트리온,163000,4000,2.52,1000,238520,146331,20.50,429105,44.33,13.35
삼성물산,109900,200,0.18,100,205389,186887,17.83,172365,10.14,7.16
KB금융,48700,400,0.83,5000,196510,403511,72.78,887432,4.56,9.17
신한지주,35050,200,0.57,5000,177040,505108,62.40,698340,4.01,9.70
SK이노베이션,179000,3200,1.82,5000,165513,92466,24.42,780752,10.69,8.49
LG,89100,500,0.56,5000,140155,157301,35.91,195951,7.22,8.48
하나금융지주,41600,50,0.12,5000,123096,295903,70.80,434715,3.48,10.06
한국전력,19000,170,0.90,5000,121973,641964,14.43,1588902,-0.50,-46.91
SK,164100,200,0.12,200,120118,73198,23.30,74505,11.16,5.13
SK텔레콤,48100,200,0.42,100,105259,218833,44.31,347458,11.54,7.97
두산에너빌리티,15810,240,1.54,5000,101273,640561,12.52,6609261,-12.68,-11.70
HMM,20050,60,0.30,5000,98052,489039,11.20,882799,0.97,64.98
크래프톤,198300,5400,2.80,100,97638,49237,30.45,179586,19.45,10.29
삼성에스디에스,118500,400,0.34,500,91693,77378,15.58,101168,8.34,14.23
LG생활건강,587000,1000,0.17,5000,91679,15618,34.87,59910,43.96,4.41
우리금융지주,11650,90,0.78,5000,84819,728061,39.55,1018652,2.70,11.51
기업은행,10020,120,1.21,5000,79902,797426,13.83,633072,2.88,9.85
한화솔루션,45750,250,0.55,5000,78641,171893,24.62,1418486,24.54,4.21
카카오페이,57200,300,0.53,500,76594,133905,43.44,284500,140.54,3.08
롯데케미칼,170500,100,0.06,5000,72932,42775,24.04,41882,99.77,0.43
아모레퍼시픽,115700,200,0.17,500,67676,58493,24.61,352549,59.42,2.81
SK바이오사이언스,83100,11700,16.39,500,63808,76784,3.75,3593957,52.07,0.00

In [34]:
df[filt].info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 삼성바이오로직스 to SK바이오사이언스
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   현재가     25 non-null     int64
 1   전일비     25 non-null     int64
 2   등락률     25 non-null     float64
 3   액면가     25 non-null     int64
 4   시가총액    25 non-null     int64
 5   상장주식수   25 non-null     int64
 6   외국인비율   25 non-null     float64
 7   거래량     25 non-null     int64
 8   PER     25 non-null     float64
 9   ROE     25 non-null     float64
dtypes: float64(4), int64(6)
memory usage: 2.1+ KB

In [35]:
df[-filt]

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
삼성전자,65100,-300,-0.46,100,3886328,5969783,51.93,9763209,8.08,17.07
LG에너지솔루션,564000,-3000,-0.53,500,1319760,234000,5.37,243140,170.65,5.75
SK하이닉스,88700,-1100,-1.22,5000,645738,728002,49.65,1775068,28.96,3.56
삼성SDI,684000,0,0.00,5000,470349,68765,49.24,174071,24.66,12.52
삼성전자우,54600,-700,-1.27,100,449296,822887,72.10,832232,6.78,0.00
현대차,199200,-1800,-0.90,5000,421371,211532,31.73,471523,7.49,9.36
기아,85900,-600,-0.69,5000,348207,405363,37.06,643781,6.44,14.57
POSCO홀딩스,379000,-1000,-0.26,5000,320525,84571,40.57,617133,10.40,6.11
포스코퓨처엠,338500,-6500,-1.88,500,262213,77463,6.96,1093594,221.68,4.87
카카오,57200,-1100,-1.89,100,254916,445657,26.16,2274995,18.83,13.54
현대모비스,218000,-3000,-1.36,5000,205542,94285,37.27,150776,8.29,6.80
LG전자,109200,-100,-0.09,5000,178703,163648,28.71,435298,16.51,6.61
삼성생명,66800,-400,-0.60,500,133600,200000,15.75,218461,8.44,5.73
하이브,292500,-2000,-0.68,500,121811,41645,18.24,256898,231.23,1.87
KT&G,85100,-1100,-1.28,5000,116836,137292,44.62,200371,11.50,11.00
카카오뱅크,23550,-550,-2.28,5000,112279,476767,13.69,3074542,42.59,4.68
삼성화재,227000,0,0.00,500,107541,47375,52.27,71440,8.97,9.70
삼성전기,137700,-5600,-3.91,5000,102853,74694,29.88,673869,10.90,13.76
고려아연,508000,-4000,-0.78,5000,100905,19863,21.66,33577,12.52,9.38
HD현대중공업,108100,-1200,-1.10,5000,95964,88773,6.56,79176,-27.26,-6.47
메리츠금융지주,45700,-100,-0.22,500,95156,208218,16.94,493134,5.60,30.32
엔씨소프트,387500,-5000,-1.27,500,85072,21954,45.43,119262,19.52,13.73
대한항공,22850,-100,-0.44,5000,84138,368221,15.13,659379,4.76,21.95
S-Oil,72400,-200,-0.28,2500,81510,112583,79.10,387825,4.01,27.20
KT,30450,0,0.00,5000,79509,261112,40.60,666833,6.30,7.99

In [36]:
df.loc[filt, ['현재가','액면가','거래량']]

              현재가   액면가      거래량
종목명
삼성바이오로직스   797000  2500   144166
LG화학       731000  5000   143423
NAVER      196100   100   897298
셀트리온       163000  1000   429105
삼성물산       109900   100   172365
KB금융        48700  5000   887432
신한지주        35050  5000   698340
SK이노베이션    179000  5000   780752
LG          89100  5000   195951
하나금융지주      41600  5000   434715
한국전력        19000  5000  1588902
SK         164100   200    74505
SK텔레콤       48100   100   347458
두산에너빌리티     15810  5000  6609261
HMM         20050  5000   882799
크래프톤       198300   100   179586
삼성에스디에스    118500   500   101168
LG생활건강     587000  5000    59910
우리금융지주      11650  5000  1018652
기업은행        10020  5000   633072
한화솔루션       45750  5000  1418486
카카오페이       57200   500   284500
롯데케미칼      170500  5000    41882
아모레퍼시픽     115700   500   352549
SK바이오사이언스   83100   500  3593957

In [37]:
df['종목명']

KeyError: '종목명'

In [38]:
df.loc['종목명']

KeyError: '종목명'

In [39]:
df

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
삼성전자,65100,-300,-0.46,100,3886328,5969783,51.93,9763209,8.08,17.07
LG에너지솔루션,564000,-3000,-0.53,500,1319760,234000,5.37,243140,170.65,5.75
SK하이닉스,88700,-1100,-1.22,5000,645738,728002,49.65,1775068,28.96,3.56
삼성바이오로직스,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
LG화학,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95
삼성SDI,684000,0,0.00,5000,470349,68765,49.24,174071,24.66,12.52
삼성전자우,54600,-700,-1.27,100,449296,822887,72.10,832232,6.78,0.00
현대차,199200,-1800,-0.90,5000,421371,211532,31.73,471523,7.49,9.36
기아,85900,-600,-0.69,5000,348207,405363,37.06,643781,6.44,14.57
NAVER,196100,3500,1.82,100,321700,164049,47.60,897298,42.32,3.29
POSCO홀딩스,379000,-1000,-0.26,5000,320525,84571,40.57,617133,10.40,6.11
포스코퓨처엠,338500,-6500,-1.88,500,262213,77463,6.96,1093594,221.68,4.87
카카오,57200,-1100,-1.89,100,254916,445657,26.16,2274995,18.83,13.54
셀트리온,163000,4000,2.52,1000,238520,146331,20.50,429105,44.33,13.35
현대모비스,218000,-3000,-1.36,5000,205542,94285,37.27,150776,8.29,6.80
삼성물산,109900,200,0.18,100,205389,186887,17.83,172365,10.14,7.16
KB금융,48700,400,0.83,5000,196510,403511,72.78,887432,4.56,9.17
LG전자,109200,-100,-0.09,5000,178703,163648,28.71,435298,16.51,6.61
신한지주,35050,200,0.57,5000,177040,505108,62.40,698340,4.01,9.70
SK이노베이션,179000,3200,1.82,5000,165513,92466,24.42,780752,10.69,8.49
LG,89100,500,0.56,5000,140155,157301,35.91,195951,7.22,8.48
삼성생명,66800,-400,-0.60,500,133600,200000,15.75,218461,8.44,5.73
하나금융지주,41600,50,0.12,5000,123096,295903,70.80,434715,3.48,10.06
한국전력,19000,170,0.90,5000,121973,641964,14.43,1588902,-0.50,-46.91
하이브,292500,-2000,-0.68,500,121811,41645,18.24,256898,231.23,1.87
SK,164100,200,0.12,200,120118,73198,23.30,74505,11.16,5.13
KT&G,85100,-1100,-1.28,5000,116836,137292,44.62,200371,11.50,11.00
카카오뱅크,23550,-550,-2.28,5000,112279,476767,13.69,3074542,42.59,4.68
삼성화재,227000,0,0.00,500,107541,47375,52.27,71440,8.97,9.70
SK텔레콤,48100,200,0.42,100,105259,218833,44.31,347458,11.54,7.97
삼성전기,137700,-5600,-3.91,5000,102853,74694,29.88,673869,10.90,13.76
두산에너빌리티,15810,240,1.54,5000,101273,640561,12.52,6609261,-12.68,-11.70
고려아연,508000,-4000,-0.78,5000,100905,19863,21.66,33577,12.52,9.38
HMM,20050,60,0.30,5000,98052,489039,11.20,882799,0.97,64.98
크래프톤,198300,5400,2.80,100,97638,49237,30.45,179586,19.45,10.29
HD현대중공업,108100,-1200,-1.10,5000,95964,88773,6.56,79176,-27.26,-6.47
메리츠금융지주,45700,-100,-0.22,500,95156,208218,16.94,493134,5.60,30.32
삼성에스디에스,118500,400,0.34,500,91693,77378,15.58,101168,8.34,14.23
LG생활건강,587000,1000,0.17,5000,91679,15618,34.87,59910,43.96,4.41
엔씨소프트,387500,-5000,-1.27,500,85072,21954,45.43,119262,19.52,13.73
우리금융지주,11650,90,0.78,5000,84819,728061,39.55,1018652,2.70,11.51
대한항공,22850,-100,-0.44,5000,84138,368221,15.13,659379,4.76,21.95
S-Oil,72400,-200,-0.28,2500,81510,112583,79.10,387825,4.01,27.20
기업은행,10020,120,1.21,5000,79902,797426,13.83,633072,2.88,9.85
KT,30450,0,0.00,5000,79509,261112,40.60,666833,6.30,7.99
한화솔루션,45750,250,0.55,5000,78641,171893,24.62,1418486,24.54,4.21
카카오페이,57200,300,0.53,500,76594,133905,43.44,284500,140.54,3.08
롯데케미칼,170500,100,0.06,5000,72932,42775,24.04,41882,99.77,0.43
아모레퍼시픽,115700,200,0.17,500,67676,58493,24.61,352549,59.42,2.81
SK바이오사이언스,83100,11700,16.39,500,63808,76784,3.75,3593957,52.07,0.00

In [40]:
df.index

Index(['삼성전자', 'LG에너지솔루션', 'SK하이닉스', '삼성바이오로직스', 'LG화학', '삼성SDI', '삼성전자우',
       '현대차', '기아', 'NAVER', 'POSCO홀딩스', '포스코퓨처엠', '카카오', '셀트리온', '현대모비스',
       '삼성물산', 'KB금융', 'LG전자', '신한지주', 'SK이노베이션', 'LG', '삼성생명', '하나금융지주',
       '한국전력', '하이브', 'SK', 'KT&G', '카카오뱅크', '삼성화재', 'SK텔레콤', '삼성전기',
       '두산에너빌리티', '고려아연', 'HMM', '크래프톤', 'HD현대중공업', '메리츠금융지주', '삼성에스디에스',
       'LG생활건강', '엔씨소프트', '우리금융지주', '대한항공', 'S-Oil', '기업은행', 'KT', '한화솔루션',
       '카카오페이', '롯데케미칼', '아모레퍼시픽', 'SK바이오사이언스'],
      dtype='object', name='종목명')

In [41]:
filt = df.index.str.startswith('삼성')
df[filt]

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
삼성전자,65100,-300,-0.46,100,3886328,5969783,51.93,9763209,8.08,17.07
삼성바이오로직스,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
삼성SDI,684000,0,0.00,5000,470349,68765,49.24,174071,24.66,12.52
삼성전자우,54600,-700,-1.27,100,449296,822887,72.10,832232,6.78,0.00
삼성물산,109900,200,0.18,100,205389,186887,17.83,172365,10.14,7.16
삼성생명,66800,-400,-0.60,500,133600,200000,15.75,218461,8.44,5.73
삼성화재,227000,0,0.00,500,107541,47375,52.27,71440,8.97,9.70
삼성전기,137700,-5600,-3.91,5000,102853,74694,29.88,673869,10.90,13.76
삼성에스디에스,118500,400,0.34,500,91693,77378,15.58,101168,8.34,14.23

In [42]:
filt = df.index.str.contains('LG')
df[filt]

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
LG에너지솔루션,564000,-3000,-0.53,500,1319760,234000,5.37,243140,170.65,5.75
LG화학,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95
LG전자,109200,-100,-0.09,5000,178703,163648,28.71,435298,16.51,6.61
LG,89100,500,0.56,5000,140155,157301,35.91,195951,7.22,8.48
LG생활건강,587000,1000,0.17,5000,91679,15618,34.87,59910,43.96,4.41

In [43]:
filt = df.index.isin(['삼성','LG'])
df[filt]

       현재가  전일비   등락률   액면가    시가총액   상장주식수  외국인비율     거래량   PER   ROE
종목명
LG   89100  500  0.56  5000  140155  157301  35.91  195951  7.22  8.48

In [44]:
filt = df.index.str.contains('LG') | df.index.str.contains('삼성')
df[filt]

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
삼성전자,65100,-300,-0.46,100,3886328,5969783,51.93,9763209,8.08,17.07
LG에너지솔루션,564000,-3000,-0.53,500,1319760,234000,5.37,243140,170.65,5.75
삼성바이오로직스,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
LG화학,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95
삼성SDI,684000,0,0.00,5000,470349,68765,49.24,174071,24.66,12.52
삼성전자우,54600,-700,-1.27,100,449296,822887,72.10,832232,6.78,0.00
삼성물산,109900,200,0.18,100,205389,186887,17.83,172365,10.14,7.16
LG전자,109200,-100,-0.09,5000,178703,163648,28.71,435298,16.51,6.61
LG,89100,500,0.56,5000,140155,157301,35.91,195951,7.22,8.48
삼성생명,66800,-400,-0.60,500,133600,200000,15.75,218461,8.44,5.73
삼성화재,227000,0,0.00,500,107541,47375,52.27,71440,8.97,9.70
삼성전기,137700,-5600,-3.91,5000,102853,74694,29.88,673869,10.90,13.76
삼성에스디에스,118500,400,0.34,500,91693,77378,15.58,101168,8.34,14.23
LG생활건강,587000,1000,0.17,5000,91679,15618,34.87,59910,43.96,4.41

In [47]:
df.sort_values('현재가', ascending=False)

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
삼성바이오로직스,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
LG화학,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95
삼성SDI,684000,0,0.00,5000,470349,68765,49.24,174071,24.66,12.52
LG생활건강,587000,1000,0.17,5000,91679,15618,34.87,59910,43.96,4.41
LG에너지솔루션,564000,-3000,-0.53,500,1319760,234000,5.37,243140,170.65,5.75
고려아연,508000,-4000,-0.78,5000,100905,19863,21.66,33577,12.52,9.38
엔씨소프트,387500,-5000,-1.27,500,85072,21954,45.43,119262,19.52,13.73
POSCO홀딩스,379000,-1000,-0.26,5000,320525,84571,40.57,617133,10.40,6.11
포스코퓨처엠,338500,-6500,-1.88,500,262213,77463,6.96,1093594,221.68,4.87
하이브,292500,-2000,-0.68,500,121811,41645,18.24,256898,231.23,1.87
삼성화재,227000,0,0.00,500,107541,47375,52.27,71440,8.97,9.70
현대모비스,218000,-3000,-1.36,5000,205542,94285,37.27,150776,8.29,6.80
현대차,199200,-1800,-0.90,5000,421371,211532,31.73,471523,7.49,9.36
크래프톤,198300,5400,2.80,100,97638,49237,30.45,179586,19.45,10.29
NAVER,196100,3500,1.82,100,321700,164049,47.60,897298,42.32,3.29
SK이노베이션,179000,3200,1.82,5000,165513,92466,24.42,780752,10.69,8.49
롯데케미칼,170500,100,0.06,5000,72932,42775,24.04,41882,99.77,0.43
SK,164100,200,0.12,200,120118,73198,23.30,74505,11.16,5.13
셀트리온,163000,4000,2.52,1000,238520,146331,20.50,429105,44.33,13.35
삼성전기,137700,-5600,-3.91,5000,102853,74694,29.88,673869,10.90,13.76
삼성에스디에스,118500,400,0.34,500,91693,77378,15.58,101168,8.34,14.23
아모레퍼시픽,115700,200,0.17,500,67676,58493,24.61,352549,59.42,2.81
삼성물산,109900,200,0.18,100,205389,186887,17.83,172365,10.14,7.16
LG전자,109200,-100,-0.09,5000,178703,163648,28.71,435298,16.51,6.61
HD현대중공업,108100,-1200,-1.10,5000,95964,88773,6.56,79176,-27.26,-6.47
LG,89100,500,0.56,5000,140155,157301,35.91,195951,7.22,8.48
SK하이닉스,88700,-1100,-1.22,5000,645738,728002,49.65,1775068,28.96,3.56
기아,85900,-600,-0.69,5000,348207,405363,37.06,643781,6.44,14.57
KT&G,85100,-1100,-1.28,5000,116836,137292,44.62,200371,11.50,11.00
SK바이오사이언스,83100,11700,16.39,500,63808,76784,3.75,3593957,52.07,0.00
S-Oil,72400,-200,-0.28,2500,81510,112583,79.10,387825,4.01,27.20
삼성생명,66800,-400,-0.60,500,133600,200000,15.75,218461,8.44,5.73
삼성전자,65100,-300,-0.46,100,3886328,5969783,51.93,9763209,8.08,17.07
카카오,57200,-1100,-1.89,100,254916,445657,26.16,2274995,18.83,13.54
카카오페이,57200,300,0.53,500,76594,133905,43.44,284500,140.54,3.08
삼성전자우,54600,-700,-1.27,100,449296,822887,72.10,832232,6.78,0.00
KB금융,48700,400,0.83,5000,196510,403511,72.78,887432,4.56,9.17
SK텔레콤,48100,200,0.42,100,105259,218833,44.31,347458,11.54,7.97
한화솔루션,45750,250,0.55,5000,78641,171893,24.62,1418486,24.54,4.21
메리츠금융지주,45700,-100,-0.22,500,95156,208218,16.94,493134,5.60,30.32
하나금융지주,41600,50,0.12,5000,123096,295903,70.80,434715,3.48,10.06
신한지주,35050,200,0.57,5000,177040,505108,62.40,698340,4.01,9.70
KT,30450,0,0.00,5000,79509,261112,40.60,666833,6.30,7.99
카카오뱅크,23550,-550,-2.28,5000,112279,476767,13.69,3074542,42.59,4.68
대한항공,22850,-100,-0.44,5000,84138,368221,15.13,659379,4.76,21.95
HMM,20050,60,0.30,5000,98052,489039,11.20,882799,0.97,64.98
한국전력,19000,170,0.90,5000,121973,641964,14.43,1588902,-0.50,-46.91
두산에너빌리티,15810,240,1.54,5000,101273,640561,12.52,6609261,-12.68,-11.70
우리금융지주,11650,90,0.78,5000,84819,728061,39.55,1018652,2.70,11.51
기업은행,10020,120,1.21,5000,79902,797426,13.83,633072,2.88,9.85

In [48]:
df.sort_values('PER')[:5]

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
HD현대중공업,108100,-1200,-1.10,5000,95964,88773,6.56,79176,-27.26,-6.47
두산에너빌리티,15810,240,1.54,5000,101273,640561,12.52,6609261,-12.68,-11.70
한국전력,19000,170,0.90,5000,121973,641964,14.43,1588902,-0.50,-46.91
HMM,20050,60,0.30,5000,98052,489039,11.20,882799,0.97,64.98
우리금융지주,11650,90,0.78,5000,84819,728061,39.55,1018652,2.70,11.51

In [49]:
df.sort_values(['전일비','현재가','PER'], ascending=False)

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
삼성바이오로직스,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
SK바이오사이언스,83100,11700,16.39,500,63808,76784,3.75,3593957,52.07,0.00
크래프톤,198300,5400,2.80,100,97638,49237,30.45,179586,19.45,10.29
LG화학,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95
셀트리온,163000,4000,2.52,1000,238520,146331,20.50,429105,44.33,13.35
NAVER,196100,3500,1.82,100,321700,164049,47.60,897298,42.32,3.29
SK이노베이션,179000,3200,1.82,5000,165513,92466,24.42,780752,10.69,8.49
LG생활건강,587000,1000,0.17,5000,91679,15618,34.87,59910,43.96,4.41
LG,89100,500,0.56,5000,140155,157301,35.91,195951,7.22,8.48
삼성에스디에스,118500,400,0.34,500,91693,77378,15.58,101168,8.34,14.23
KB금융,48700,400,0.83,5000,196510,403511,72.78,887432,4.56,9.17
카카오페이,57200,300,0.53,500,76594,133905,43.44,284500,140.54,3.08
한화솔루션,45750,250,0.55,5000,78641,171893,24.62,1418486,24.54,4.21
두산에너빌리티,15810,240,1.54,5000,101273,640561,12.52,6609261,-12.68,-11.70
SK,164100,200,0.12,200,120118,73198,23.30,74505,11.16,5.13
아모레퍼시픽,115700,200,0.17,500,67676,58493,24.61,352549,59.42,2.81
삼성물산,109900,200,0.18,100,205389,186887,17.83,172365,10.14,7.16
SK텔레콤,48100,200,0.42,100,105259,218833,44.31,347458,11.54,7.97
신한지주,35050,200,0.57,5000,177040,505108,62.40,698340,4.01,9.70
한국전력,19000,170,0.90,5000,121973,641964,14.43,1588902,-0.50,-46.91
기업은행,10020,120,1.21,5000,79902,797426,13.83,633072,2.88,9.85
롯데케미칼,170500,100,0.06,5000,72932,42775,24.04,41882,99.77,0.43
우리금융지주,11650,90,0.78,5000,84819,728061,39.55,1018652,2.70,11.51
HMM,20050,60,0.30,5000,98052,489039,11.20,882799,0.97,64.98
하나금융지주,41600,50,0.12,5000,123096,295903,70.80,434715,3.48,10.06
삼성SDI,684000,0,0.00,5000,470349,68765,49.24,174071,24.66,12.52
삼성화재,227000,0,0.00,500,107541,47375,52.27,71440,8.97,9.70
KT,30450,0,0.00,5000,79509,261112,40.60,666833,6.30,7.99
LG전자,109200,-100,-0.09,5000,178703,163648,28.71,435298,16.51,6.61
메리츠금융지주,45700,-100,-0.22,500,95156,208218,16.94,493134,5.60,30.32
대한항공,22850,-100,-0.44,5000,84138,368221,15.13,659379,4.76,21.95
S-Oil,72400,-200,-0.28,2500,81510,112583,79.10,387825,4.01,27.20
삼성전자,65100,-300,-0.46,100,3886328,5969783,51.93,9763209,8.08,17.07
삼성생명,66800,-400,-0.60,500,133600,200000,15.75,218461,8.44,5.73
카카오뱅크,23550,-550,-2.28,5000,112279,476767,13.69,3074542,42.59,4.68
기아,85900,-600,-0.69,5000,348207,405363,37.06,643781,6.44,14.57
삼성전자우,54600,-700,-1.27,100,449296,822887,72.10,832232,6.78,0.00
POSCO홀딩스,379000,-1000,-0.26,5000,320525,84571,40.57,617133,10.40,6.11
SK하이닉스,88700,-1100,-1.22,5000,645738,728002,49.65,1775068,28.96,3.56
KT&G,85100,-1100,-1.28,5000,116836,137292,44.62,200371,11.50,11.00
카카오,57200,-1100,-1.89,100,254916,445657,26.16,2274995,18.83,13.54
HD현대중공업,108100,-1200,-1.10,5000,95964,88773,6.56,79176,-27.26,-6.47
현대차,199200,-1800,-0.90,5000,421371,211532,31.73,471523,7.49,9.36
하이브,292500,-2000,-0.68,500,121811,41645,18.24,256898,231.23,1.87
LG에너지솔루션,564000,-3000,-0.53,500,1319760,234000,5.37,243140,170.65,5.75
현대모비스,218000,-3000,-1.36,5000,205542,94285,37.27,150776,8.29,6.80
고려아연,508000,-4000,-0.78,5000,100905,19863,21.66,33577,12.52,9.38
엔씨소프트,387500,-5000,-1.27,500,85072,21954,45.43,119262,19.52,13.73
삼성전기,137700,-5600,-3.91,5000,102853,74694,29.88,673869,10.90,13.76
포스코퓨처엠,338500,-6500,-1.88,500,262213,77463,6.96,1093594,221.68,4.87

In [52]:
filt = df['전일비'] >= 0
df[filt].sort_values(['전일비','현재가'], ascending=[False, True])

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
삼성바이오로직스,797000,22000,2.84,2500,567257,71174,10.62,144166,69.84,11.42
SK바이오사이언스,83100,11700,16.39,500,63808,76784,3.75,3593957,52.07,0.00
크래프톤,198300,5400,2.80,100,97638,49237,30.45,179586,19.45,10.29
LG화학,731000,5000,0.69,5000,516030,70592,48.36,143423,31.01,6.95
셀트리온,163000,4000,2.52,1000,238520,146331,20.50,429105,44.33,13.35
NAVER,196100,3500,1.82,100,321700,164049,47.60,897298,42.32,3.29
SK이노베이션,179000,3200,1.82,5000,165513,92466,24.42,780752,10.69,8.49
LG생활건강,587000,1000,0.17,5000,91679,15618,34.87,59910,43.96,4.41
LG,89100,500,0.56,5000,140155,157301,35.91,195951,7.22,8.48
KB금융,48700,400,0.83,5000,196510,403511,72.78,887432,4.56,9.17
삼성에스디에스,118500,400,0.34,500,91693,77378,15.58,101168,8.34,14.23
카카오페이,57200,300,0.53,500,76594,133905,43.44,284500,140.54,3.08
한화솔루션,45750,250,0.55,5000,78641,171893,24.62,1418486,24.54,4.21
두산에너빌리티,15810,240,1.54,5000,101273,640561,12.52,6609261,-12.68,-11.70
신한지주,35050,200,0.57,5000,177040,505108,62.40,698340,4.01,9.70
SK텔레콤,48100,200,0.42,100,105259,218833,44.31,347458,11.54,7.97
삼성물산,109900,200,0.18,100,205389,186887,17.83,172365,10.14,7.16
아모레퍼시픽,115700,200,0.17,500,67676,58493,24.61,352549,59.42,2.81
SK,164100,200,0.12,200,120118,73198,23.30,74505,11.16,5.13
한국전력,19000,170,0.90,5000,121973,641964,14.43,1588902,-0.50,-46.91
기업은행,10020,120,1.21,5000,79902,797426,13.83,633072,2.88,9.85
롯데케미칼,170500,100,0.06,5000,72932,42775,24.04,41882,99.77,0.43
우리금융지주,11650,90,0.78,5000,84819,728061,39.55,1018652,2.70,11.51
HMM,20050,60,0.30,5000,98052,489039,11.20,882799,0.97,64.98
하나금융지주,41600,50,0.12,5000,123096,295903,70.80,434715,3.48,10.06
KT,30450,0,0.00,5000,79509,261112,40.60,666833,6.30,7.99
삼성화재,227000,0,0.00,500,107541,47375,52.27,71440,8.97,9.70
삼성SDI,684000,0,0.00,5000,470349,68765,49.24,174071,24.66,12.52

In [71]:
import re
gr = df.groupby(df.index.str.contains('삼성'))